<div class="page-header">
  <div class="btn-toolbar pull-right">
    <%= link_to "Create a new company", new_company_path, class: "btn btn-default"%>
  </div>
  <h3>All Companies</h3>
  <hr>
</div>

<div class="col-md-12 companies">
<% @companies.each do |company| %>
    <h4><%= link_to company.name, company_path(company) %></h4>
    <div class="btn-toolbar" role="toolbar">
      <%= link_to "Edit", edit_company_path(company), class: "btn btn-default btn-xs"%>
      <%= link_to "Delete", company_path(company), method: "delete", class: "btn btn-default btn-xs" %>
      <br><br>
    </div>
<% end %>
</div>


