<div class="page-header">
  <div class="btn-toolbar pull-right">
    <%= link_to "Create a new category", new_category_path, class: "btn btn-default" %>
  </div>
  <h3>All Categories</h3>
  <hr>
</div>

<div class="col-md-12 categories">
  <% @categories.each do |category| %>
    <h4><%= link_to category.title, category_path(category) %></h4>
    <div class="btn-toolbar" role="toolbar">
      <%= link_to "Edit", edit_category_path(category), class: "btn btn-default btn-xs" %>
      <%= link_to "Delete", category_path(category), method: :delete, class: "btn btn-default btn-xs" %>
      <br><br><br>
  </div>
  <% end %>
</div>


